<section class="about-me mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4 mb-4 mb-lg-0 " data-="fadeInUpShorter" data--delay="100">
        <h3 class="text-color-quaternary mb-3 font-weight-semibold text-capitalize pe-5">The Highest Standard Of Health Care Medical Clinic</h3>
        <p class="text-uppercase mb-3">John Doe - Main Doctor</p>
        <img src="assets/img/demos/medical-2/others/signature.png" alt="Signature">
      </div>
      <div class="col-xs-12 col-lg-8 " data-="fadeInUpShorter" data--delay="200">
        <p class="p-relative bottom-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semper vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus ac, finibus vitae dui.</p>
        <a href="#" class="font-weight-bold text-uppercase text-decoration-none">read more +</a>
      </div>
    </div>
  </div>
</section>


