<section class="more-about lazyload" data-bg-src="assets/img/about-bg.jpg">
<!--<section class="more-about lazyload" data-bg-src="assets/img/demos/medical-2/bg/bg-1.png">-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 p-relative overflow-hidden col-cuttin-more-about"></div>
      <div class="col-xs-12 col-lg-6 p-relative py-5 bg-color-light z-index-1 ps-lg-5 ps-xl-0">
        <p class="text-uppercase mb-0 " data-="fadeInUpShorter" data--delay="100">Who We Are</p>
        <h3 class="text-color-quaternary font-weight-bold text-capitalize mb-2 " data-="fadeInUpShorter" data--delay="200">More About Porto Medical</h3>
        <p class="font-weight-semibold " data-="fadeInUpShorter" data--delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut tellus ante. Nam suscipit urna risus, fermentum commodo ipsum porta id.</p>
        <p class="mb-4 " data-="fadeInUpShorter" data--delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semper vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc.</p>
        <div class="row counters mb-4 flex-nowrap flex-sm-wrap">
          <div class="col-xs-4 col-sm-4 col-lg-4 mb-0 d-flex">
            <div class="counter counter-primary " data-="fadeInRightShorter" data--delay="500">
              <strong class="number-counter text-10" data-to="35" data-append="+">0</strong>
              <label class="number-counter-text text-4 text-color-primary font-weight-semibold negative-ls-1">Business Year</label>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4 mb-0 d-flex">
            <div class="counter counter-primary " data-="fadeInRightShorter" data--delay="750">
              <strong class="number-counter text-10" data-to="50" data-append="+">0</strong>
              <label class="number-counter-text text-4 text-color-primary font-weight-semibold negative-ls-1">Specialist Doctors</label>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-lg-4 mb-0 d-flex justify-content-center">
            <div class="counter counter-primary " data-="fadeInRightShorter" data--delay="1000">
              <strong class="number-counter text-10" data-to="200" data-append="+">0</strong>
              <label class="number-counter-text text-4 text-color-primary font-weight-semibold negative-ls-1">Modern Rooms</label>
            </div>
          </div>
        </div>
        <p class="mb-4 " data-="fadeInUpShorter" data--delay="100">Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus ac.</p>
        <div class="d-flex justify-content-start flex-column flex-xl-row">
          <ul class="list list-icons list-icons-style-2 list-icons-sm custom-list-icons mb-1 mb-xl-3">
            <li class="text-color-quaternary font-weight-bold mb-2 " data-="fadeInUpShorter" data--delay="100"><i class="fas fa-check text-color-quaternary"></i>Pellentesque ultricies nibh</li>
            <li class="text-color-quaternary font-weight-bold mb-2 " data-="fadeInUpShorter" data--delay="200"><i class="fas fa-check text-color-quaternary"></i>Ultricies nibh pellen</li>
            <li class="text-color-quaternary font-weight-bold " data-="fadeInUpShorter" data--delay="300"><i class="fas fa-check text-color-quaternary"></i>Pellentesque ultricies nibh</li>
          </ul>
          <ul class="list list-icons list-icons-style-2 list-icons-sm custom-list-icons">
            <li class="text-color-quaternary font-weight-bold mb-2 " data-="fadeInUpShorter" data--delay="400"><i class="fas fa-check text-color-quaternary"></i>Ultricies nibh pellen</li>
            <li class="text-color-quaternary font-weight-bold mb-2 " data-="fadeInUpShorter" data--delay="500"><i class="fas fa-check text-color-quaternary"></i>Pellentesque ultricies nibh</li>
            <li class="text-color-quaternary font-weight-bold " data-="fadeInUpShorter" data--delay="600"><i class="fas fa-check text-color-quaternary"></i>Ultricies nibh pellen</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
