<body>
  <app-header id="header"></app-header>
<div role="main" class="main">
  <app-bg-section></app-bg-section>
  <app-domaine-section id="domaine"></app-domaine-section>
  <app-about-section id="about"></app-about-section>
  <app-more-about-section></app-more-about-section>
  <app-service-section id="service"></app-service-section>
  <app-news-section id="news"></app-news-section>
  <app-contact-section id="contact"></app-contact-section>
  <app-footer-top></app-footer-top>
  <app-footer></app-footer>
</div>
</body>
