<section class="footer-top-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-xl-4 p-4 bg-color-secondary d-flex align-items-center justify-content-between">
        <div class="footer-top-info-detail">
          <h4 class="text-color-light mb-1 d-block font-weight-semibold text-capitalize " data-="fadeIn" data--delay="100">Emergency Cases</h4>
          <p class="d-block m-0 footer-top-info-desc " data-="fadeIn" data--delay="200">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <a href="#" type="button" class="btn btn-outline btn-footer-top-info btn-light rounded-0 d-block text-color-light border-color-primary text-uppercase text-center p-0 custom-btn-footer-top-info bg-transparent-hover " data-="fadeIn" data--delay="300">view more +</a>
      </div>
      <div class="col-xs-12 col-xl-4 p-4 bg-color-tertiary d-flex align-items-center justify-content-between">
        <div class="footer-top-info-detail">
          <h4 class="text-color-light mb-1 d-block font-weight-semibold text-capitalize " data-="fadeIn" data--delay="400">Doctors Timetable</h4>
          <p class="d-block m-0 footer-top-info-desc " data-="fadeIn" data--delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <a href="#" type="button" class="btn btn-outline btn-footer-top-info btn-light rounded-0 d-block text-color-light border-color-primary text-uppercase text-center p-0 custom-btn-footer-top-info bg-transparent-hover " data-="fadeIn" data--delay="600">view more +</a>
      </div>
      <div class="col-xs-12 col-xl-4 p-4 bg-color-secondary d-flex align-items-center justify-content-between">
        <div class="footer-top-info-detail">
          <h4 class="text-color-light mb-1 d-block font-weight-semibold text-capitalize " data-="fadeIn" data--delay="700">Find Us On Map</h4>
          <p class="d-block m-0 footer-top-info-desc " data-="fadeIn" data--delay="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <a href="#" type="button" class="btn btn-outline btn-footer-top-info btn-light rounded-0 d-block text-color-light border-color-primary text-uppercase text-center p-0 custom-btn-footer-top-info bg-transparent-hover " data-="fadeIn" data--delay="900">view more +</a>
      </div>
    </div>
  </div>
</section>
