<section class="our-blog pt-5 pt-lg-0 pb-lg-5 mb-5 p-relative bg-color-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-uppercase mb-0 d-block text-center text-uppercase " data-="fadeInUpShorter" data--delay="300">our blog</p>
        <h3 class="text-color-quaternary mb-2 d-block text-center font-weight-bold text-capitalize " data-="fadeInUpShorter" data--delay="400">Recent Articles and News</h3>
        <p class="mb-4 d-block text-center " data-="fadeInUpShorter" data--delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod.</p>
      </div>
    </div>
    <div class="row justify-content-center justify-lg-content-between">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <article>
          <div class="card border-0 border-radius-0 box-shadow-1 " data-="fadeInUpShorter" data--delay="500">
            <div class="card-body p-4 z-index-1">
              <a href="demo-medical-2-blog-post.html">
                <img class="card-img-top border-radius-0" src="assets/img/news-1.jpg" alt="Card Image">
<!--                <img class="card-img-top border-radius-0" src="assets/img/demos/medical-2/blog/blog-1.png" alt="Card Image">-->
              </a>
              <p class="text-uppercase text-1 mb-3 pt-1 text-color-default"><time pubdate datetime="2022-01-10">10 Jan 2022</time> <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</p>
              <div class="card-body p-0">
                <h4 class="card-title mb-3 text-5 font-weight-bold"><a class="text-color-secondary" href="demo-medical-2-blog-post.html">Everyday Health Special Report</a></h4>
                <p class="card-text mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut...</p>
                <a href="demo-medical-2-blog-post.html" class="font-weight-bold text-uppercase text-decoration-none d-block mt-3">Read More +</a>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <article>
          <div class="card border-0 border-radius-0 box-shadow-1 " data-="fadeInUpShorter" data--delay="700">
            <div class="card-body p-4 z-index-1">
              <a href="demo-medical-2-blog-post.html">
                <img class="card-img-top border-radius-0" src="assets/img/news-2.jpg" alt="Card Image">
<!--                <img class="card-img-top border-radius-0" src="assets/img/demos/medical-2/blog/blog-2.png" alt="Card Image">-->
              </a>
              <p class="text-uppercase text-1 mb-3 pt-1 text-color-default"><time pubdate datetime="2022-01-10">10 Jan 2022</time> <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</p>
              <div class="card-body p-0">
                <h4 class="card-title mb-3 text-5 font-weight-bold"><a class="text-color-secondary" href="demo-medical-2-blog-post.html">Natural Flu Remedies That Actually Work</a></h4>
                <p class="card-text mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut...</p>
                <a href="demo-medical-2-blog-post.html" class="font-weight-bold text-uppercase text-decoration-none d-block mt-3">Read More +</a>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <article>
          <div class="card border-0 border-radius-0 box-shadow-1 " data-="fadeInUpShorter" data--delay="900">
            <div class="card-body p-4 z-index-1">
              <a href="demo-medical-2-blog-post.html">
                <img class="card-img-top border-radius-0" src="assets/img/news-4.jpg" alt="Card Image">
<!--                <img class="card-img-top border-radius-0" src="assets/img/demos/medical-2/blog/blog-3.png" alt="Card Image">-->
              </a>
              <p class="text-uppercase text-1 mb-3 pt-1 text-color-default"><time pubdate datetime="2022-01-10">10 Jan 2022</time> <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</p>
              <div class="card-body p-0">
                <h4 class="card-title mb-3 text-5 font-weight-bold"><a class="text-color-secondary" href="demo-medical-2-blog-post.html">Can Weight Loss Surgery Reverse Type 2 Diabetes?</a></h4>
                <p class="card-text mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut...</p>
                <a href="demo-medical-2-blog-post.html" class="font-weight-bold text-uppercase text-decoration-none d-block mt-3">Read More +</a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
