<section class="medical-services py-5 p-relative overflow-hidden lazyload" data-bg-src="assets/img/service-bg.jpg">
<!--<section class="medical-services py-5 p-relative overflow-hidden lazyload" data-bg-src="assets/img/demos/medical-2/bg/bg-3.png">-->
  <div class="container">
    <div class="row">
      <div class="col pt-4">
        <p class="text-uppercase mb-0 text-color-light " data-="fadeInUpShorter" data--delay="100">Departments</p>
        <h3 class="text-color-quaternary mb-2 text-color-light font-weight-bold text-capitalize " data-="fadeInUpShorter" data--delay="200">Our Medical Services</h3>
        <p class="mb-5 text-color-light " data-="fadeInUpShorter" data--delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semper.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="cards-medical-services row flex-wrap justify-content-center">
          <div class="card border-0 border-radius-0 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-transparent " data-="fadeInUpShorter" data--delay="500">
            <div class="card-body py-5 d-flex flex-column justify-content-center align-items-center bg-color-light hover-effect-1">
              <img src="assets/img/icon-1.jpg" class="img-fluid mb-5" alt="Cardiology">
<!--              <img src="assets/img/demos/medical-2/icons/icon-cardiology.png" class="img-fluid mb-5" alt="Cardiology">-->
              <h4 class="card-title mb-2 text-5 font-weight-bold text-color-quaternary">Cardiology</h4>
              <p class="card-text mb-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra erat orci, ac auctor lacus tincidunt ut...</p>
              <a href="demo-medical-2-departments-detail.html" class="font-weight-semibold text-uppercase text-decoration-none">read more +</a>
            </div>
          </div>
          <div class="card border-0 border-radius-0 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-transparent " data-="fadeInUpShorter" data--delay="700">
            <div class="card-body py-5 d-flex flex-column justify-content-center align-items-center bg-color-light hover-effect-1">
              <img src="assets/img/icon-2.png" class="img-fluid mb-5" alt="Gastroenterology">
<!--              <img src="assets/img/demos/medical-2/icons/icon-gastroenterology.png" class="img-fluid mb-5" alt="Gastroenterology">-->
              <h4 class="card-title mb-2 text-5 font-weight-bold text-color-quaternary">Gastroenterology</h4>
              <p class="card-text mb-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra erat orci, ac auctor lacus tincidunt ut...</p>
              <a href="demo-medical-2-departments-detail.html" class="font-weight-semibold text-uppercase text-decoration-none">read more +</a>
            </div>
          </div>
          <div class="card border-0 border-radius-0 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-transparent " data-="fadeInUpShorter" data--delay="900">
            <div class="card-body py-5 d-flex flex-column justify-content-center align-items-center bg-color-light hover-effect-1">
              <img src="assets/img/icon-3.png" class="img-fluid mb-5" alt="Pulmonology">
              <h4 class="card-title mb-2 text-5 font-weight-bold text-color-quaternary">Pulmonology</h4>
              <p class="card-text mb-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra erat orci, ac auctor lacus tincidunt ut...</p>
              <a href="demo-medical-2-departments-detail.html" class="font-weight-semibold text-uppercase text-decoration-none">read more +</a>
            </div>
          </div>
          <div class="card border-0 border-radius-0 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-transparent " data-="fadeInUpShorter" data--delay="1100">
            <div class="card-body py-5 d-flex flex-column justify-content-center align-items-center bg-color-light hover-effect-1">
              <img src="assets/img/icon-1.jpg" class="img-fluid mb-5" alt="Dental Care">
<!--              <img src="assets/img/demos/medical-2/icons/icon-dental.png" class="img-fluid mb-5" alt="Dental Care">-->
              <h4 class="card-title mb-2 text-5 font-weight-bold text-color-quaternary">Dental Care</h4>
              <p class="card-text mb-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra erat orci, ac auctor lacus tincidunt ut...</p>
              <a href="demo-medical-2-departments-detail.html" class="font-weight-semibold text-uppercase text-decoration-none">read more +</a>
            </div>
          </div>
          <div class="card border-0 border-radius-0 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-transparent " data-="fadeInUpShorter" data--delay="1200">
            <div class="card-body py-5 d-flex flex-column justify-content-center align-items-center bg-color-light hover-effect-1">
              <img src="assets/img/icon-2.png" class="img-fluid mb-5" alt="Gynecology">
<!--              <img src="assets/img/demos/medical-2/icons/icon-gynecology.png" class="img-fluid mb-5" alt="Gynecology">-->
              <h4 class="card-title mb-2 text-5 font-weight-bold text-color-quaternary">Gynecology</h4>
              <p class="card-text mb-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra erat orci, ac auctor lacus tincidunt ut...</p>
              <a href="demo-medical-2-departments-detail.html" class="font-weight-semibold text-uppercase text-decoration-none">read more +</a>
            </div>
          </div>
          <div class="card border-0 border-radius-0 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 bg-transparent " data-="fadeInUpShorter" data--delay="1400">
            <div class="card-body py-5 d-flex flex-column justify-content-center align-items-center bg-color-light hover-effect-1">
              <img src="assets/img/icon-3.png" class="img-fluid mb-5" alt="Hepatology">
<!--              <img src="assets/img/demos/medical-2/icons/icon-hepatology.png" class="img-fluid mb-5" alt="Hepatology">-->
              <h4 class="card-title mb-2 text-5 font-weight-bold text-color-quaternary">Hepatology</h4>
              <p class="card-text mb-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra erat orci, ac auctor lacus tincidunt ut...</p>
              <a href="demo-medical-2-departments-detail.html" class="font-weight-semibold text-uppercase text-decoration-none">read more +</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col text-center pb-lg-5 mb-lg-5">
        <p class="text-uppercase text-color-light d-block text-center mb-2 " data-="fadeInUpShorter" data--delay="300">Need a Speciallist?</p>
        <h3 class="text-color-quaternary mb-4 text-color-light d-block text-center font-weight-semibold text-capitalize " data-="fadeInUpShorter" data--delay="400">Get Better Now! Just Make An Appointment</h3>
        <a href="demo-medical-2-contact-us.html" class="btn btn-outline btn-light bg-hover-light text-hover-dark text-color-light border-color-light text-uppercase rounded-0 px-5 py-3 mb-2 " data-="fadeInUpShorter" data--delay="500">make an appointment</a>
      </div>
    </div>
  </div>

  <div class="section-funnel-layer-bottom">
    <div class="section-funnel-layer bg-color-light"></div>
    <div class="section-funnel-layer bg-color-light"></div>
  </div>
</section>
